body {
    background-color: antiquewhite;
}
.Article-1 {
    text-align: center;
}
.Article-2 {
    text-align: center;
}
.Alpha {
    display: inline-block;
    vertical-align: middle;
}
.Beta {
    display: inline-block;
    vertical-align: middle;
}
.Section-A {
    background-color: lightgreen;
    width: 250px;
    margin: 20px;
    border: 15px solid grey;
    padding: 50px;
}
.Section-B {
    background-color: lightgreen;
    width: 250px;
    margin: 20px;
    border: 15px solid grey;
    padding: 50px;
}
.Section-C {
    background-color: lightblue;
    width: 250px;
    margin: 20px;
    border: 15px solid grey;
    padding: 50px;
}
.Section-D {
    background-color: lightblue;
    width: 250px;
    margin: 20px;
    border: 15px solid grey;
    padding: 50px;
}
.H1-Header {
    text-align: center;
    color: brown;
}
.H2-Header-1 {
    width: 200px;
    background-color: darkgreen;
    margin: 50px;
}
.H2-Header-2 {
    width: 200px;
    background-color: blue;
    margin: 50px;
}
.image1 {
    padding: 50px;
    height: 250px;
    width: 250px;
}
.image2 {
    padding: 50px;
    height: 250px;
    width: 250px;
}